Repository google/transit, pull requests merged in 2019-02, with the labels that each got.

#135 Add new optional fields for Text-to-Speech functionality in Service Alerts feed
  gtfs-realtime/proto/gtfs-realtime.proto
  gtfs-realtime/spec/en/reference.md
Labels: GTFS - RealTime, cla: yes

#136 Add new optional field SeverityLevel to Service Alerts feed
  gtfs-realtime/proto/gtfs-realtime.proto
  gtfs-realtime/spec/en/reference.md
Labels: cla: yes

#120 Editorial and formatting changes for clarity
  gtfs/CHANGES.md
  gtfs/spec/en/examples/GoogleTransitExamples.md
  gtfs/spec/en/reference.md
Labels: GTFS (static), cla: yes

#137 Add NO_EFFECT effect option for GTFS-realtime service alert
  gtfs-realtime/proto/gtfs-realtime.proto
  gtfs-realtime/spec/en/reference.md
  gtfs-realtime/spec/en/service-alerts.md
Labels: GTFS - RealTime, cla: yes

#142 Remove some trailing whitespace from files
  gtfs-realtime/CHANGES.md
  gtfs-realtime/proto/gtfs-realtime.proto
  gtfs-realtime/spec/en/reference.md
  gtfs-realtime/spec/en/trip-updates.md
  gtfs/README.md
  gtfs/spec/en/README.md
  gtfs/spec/en/examples/GoogleTransitExamples.md
  gtfs/spec/en/reference.md
  gtfs/spec/en/style-guide.md
  gtfs/spec/en/tools.md
Labels: cla: yes
