Repository google/transit, pull requests merged in 2023-08, with the labels that each got.

#386 Best practices: add recommended presence
  gtfs/spec/en/inlining.svg
  gtfs/spec/en/reference.md
Labels: status: currently voting, GTFS Schedule

#378 Clarify implied timezone in stop_times.txt
  gtfs/spec/en/reference.md
Labels: GTFS Schedule

#385 Add fare_media_type=1
  gtfs/spec/en/reference.md
Labels: GTFS Schedule, GTFS-Fares

#390 Update revision history
  gtfs/CHANGES.md
Labels: documentation
