Repository google/transit, pull requests merged in 2024-05, with the labels that each got.

#432 Clarify stops.zone_id conditional requirement for route-based fare_rules
  gtfs/spec/en/reference.md
Labels: GTFS Schedule, Change: Clarification

#446 Remove spanish translations from GTFS Realtime
  gtfs-realtime/README.md
  gtfs-realtime/spec/es/README.md
  gtfs-realtime/spec/es/examples/README.md
  gtfs-realtime/spec/es/examples/alerts.asciipb
  gtfs-realtime/spec/es/examples/trip-updates-full.asciipb
  gtfs-realtime/spec/es/feed-types.md
  gtfs-realtime/spec/es/gtfs-realtime.proto
  gtfs-realtime/spec/es/reference.md
  gtfs-realtime/spec/es/service-alerts.md
  gtfs-realtime/spec/es/trip-updates.md
  gtfs-realtime/spec/es/vehicle-positions.md
Labels: GTFS Realtime, Change: Editorial

#447 Add Best Practices source documentation in the google/transit repo
  gtfs-realtime/best-practices/README.md
  gtfs-realtime/best-practices/best-practices.md
  gtfs/README.md
  gtfs/best-practices/README.md
  gtfs/best-practices/best-practices.md
  gtfs/best-practices/images/branching.svg
  gtfs/best-practices/images/inlining.svg
  gtfs/best-practices/images/lasso-route.svg
  gtfs/best-practices/images/loop-route.svg
  gtfs/best-practices/images/rmi-small.png
  gtfs/best-practices/images/rmi.png
Labels: Change: Editorial, Support: Needs Review

#453 Cleanup reference from PR#449
  gtfs/spec/en/reference.md
Labels: GTFS Schedule, Change: Editorial

#456 [Editorial fix] Fix formatting of bulletpoints in RT spec
  gtfs-realtime/spec/en/reference.md
Labels: Change: Editorial

#418 [GTFS-Fares v2] Add rule_priority to fare_leg_rules.txt
  gtfs/spec/en/reference.md
Labels: GTFS Schedule, Extension: GTFS-Fares, Change: Addition

#464 [Editorial changes] Update revision history
  gtfs/CHANGES.md
  gtfs/spec/en/reference.md
Labels: Change: Editorial
